---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faraday.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"e4e2580adaccbda75179b89658a82f27"'
    body:
      encoding: UTF-8
      string: '{"name":"faraday","downloads":9278401,"version":"0.9.0","version_downloads":1010668,"platform":"ruby","authors":"Rick
        Olson","info":"HTTP/REST API client library.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/faraday","gem_uri":"http://rubygems.org/gems/faraday-0.9.0.gem","homepage_uri":"https://github.com/lostisland/faraday","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.0"}],"runtime":[{"name":"multipart-post","requirements":"< 3, >= 1.2"}]}}'
  recorded_at: Wed, 25 Jun 2014 19:24:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lostisland/faraday?client_id=<GITHUB-KEY>&client_secret=<GITHUB-SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1403726342'
      Last-Modified:
      - Wed, 25 Jun 2014 02:59:02 GMT
      Etag:
      - '"d865e192c2fef2aee27793640645d4d1"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"id":417389,"name":"faraday","full_name":"lostisland/faraday","owner":{"login":"lostisland","id":2613464,"avatar_url":"https://avatars.githubusercontent.com/u/2613464?","gravatar_id":"2cac6a53fb519390129fb847ca365f31","url":"https://api.github.com/users/lostisland","html_url":"https://github.com/lostisland","followers_url":"https://api.github.com/users/lostisland/followers","following_url":"https://api.github.com/users/lostisland/following{/other_user}","gists_url":"https://api.github.com/users/lostisland/gists{/gist_id}","starred_url":"https://api.github.com/users/lostisland/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lostisland/subscriptions","organizations_url":"https://api.github.com/users/lostisland/orgs","repos_url":"https://api.github.com/users/lostisland/repos","events_url":"https://api.github.com/users/lostisland/events{/privacy}","received_events_url":"https://api.github.com/users/lostisland/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/lostisland/faraday","description":"Simple,
        but flexible HTTP client library, with support for multiple backends.","fork":false,"url":"https://api.github.com/repos/lostisland/faraday","forks_url":"https://api.github.com/repos/lostisland/faraday/forks","keys_url":"https://api.github.com/repos/lostisland/faraday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lostisland/faraday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lostisland/faraday/teams","hooks_url":"https://api.github.com/repos/lostisland/faraday/hooks","issue_events_url":"https://api.github.com/repos/lostisland/faraday/issues/events{/number}","events_url":"https://api.github.com/repos/lostisland/faraday/events","assignees_url":"https://api.github.com/repos/lostisland/faraday/assignees{/user}","branches_url":"https://api.github.com/repos/lostisland/faraday/branches{/branch}","tags_url":"https://api.github.com/repos/lostisland/faraday/tags","blobs_url":"https://api.github.com/repos/lostisland/faraday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lostisland/faraday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lostisland/faraday/git/refs{/sha}","trees_url":"https://api.github.com/repos/lostisland/faraday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lostisland/faraday/statuses/{sha}","languages_url":"https://api.github.com/repos/lostisland/faraday/languages","stargazers_url":"https://api.github.com/repos/lostisland/faraday/stargazers","contributors_url":"https://api.github.com/repos/lostisland/faraday/contributors","subscribers_url":"https://api.github.com/repos/lostisland/faraday/subscribers","subscription_url":"https://api.github.com/repos/lostisland/faraday/subscription","commits_url":"https://api.github.com/repos/lostisland/faraday/commits{/sha}","git_commits_url":"https://api.github.com/repos/lostisland/faraday/git/commits{/sha}","comments_url":"https://api.github.com/repos/lostisland/faraday/comments{/number}","issue_comment_url":"https://api.github.com/repos/lostisland/faraday/issues/comments/{number}","contents_url":"https://api.github.com/repos/lostisland/faraday/contents/{+path}","compare_url":"https://api.github.com/repos/lostisland/faraday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lostisland/faraday/merges","archive_url":"https://api.github.com/repos/lostisland/faraday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lostisland/faraday/downloads","issues_url":"https://api.github.com/repos/lostisland/faraday/issues{/number}","pulls_url":"https://api.github.com/repos/lostisland/faraday/pulls{/number}","milestones_url":"https://api.github.com/repos/lostisland/faraday/milestones{/number}","notifications_url":"https://api.github.com/repos/lostisland/faraday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lostisland/faraday/labels{/name}","releases_url":"https://api.github.com/repos/lostisland/faraday/releases{/id}","created_at":"2009-12-10T17:14:55Z","updated_at":"2014-06-25T02:59:02Z","pushed_at":"2014-06-06T12:17:51Z","git_url":"git://github.com/lostisland/faraday.git","ssh_url":"git@github.com:lostisland/faraday.git","clone_url":"https://github.com/lostisland/faraday.git","svn_url":"https://github.com/lostisland/faraday","homepage":"","size":4332,"stargazers_count":1962,"watchers_count":1962,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":274,"mirror_url":null,"open_issues_count":54,"forks":274,"open_issues":54,"watchers":1962,"default_branch":"master","organization":{"login":"lostisland","id":2613464,"avatar_url":"https://avatars.githubusercontent.com/u/2613464?","gravatar_id":"2cac6a53fb519390129fb847ca365f31","url":"https://api.github.com/users/lostisland","html_url":"https://github.com/lostisland","followers_url":"https://api.github.com/users/lostisland/followers","following_url":"https://api.github.com/users/lostisland/following{/other_user}","gists_url":"https://api.github.com/users/lostisland/gists{/gist_id}","starred_url":"https://api.github.com/users/lostisland/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lostisland/subscriptions","organizations_url":"https://api.github.com/users/lostisland/orgs","repos_url":"https://api.github.com/users/lostisland/repos","events_url":"https://api.github.com/users/lostisland/events{/privacy}","received_events_url":"https://api.github.com/users/lostisland/received_events","type":"Organization","site_admin":false},"network_count":274,"subscribers_count":61}'
  recorded_at: Wed, 25 Jun 2014 19:24:13 GMT
recorded_with: VCR 2.9.0
