---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?key=ff95aa743b224bf6b28741c2890c08c4&maxwidth=500&urls=https://gist.github.com/stevepm/4562475bd1f4d57e7f9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"787577402986d1de3828040646987610ab77eb59"'
      X-Embedly-From-Cache:
      - '0'
      X-Embedly-Host:
      - unearth19
      X-Embedly-Process-Time:
      - '27'
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://github.com", "description": "HttpResponse
        - Gist is a simple way to share snippets of text and code with others.", "title":
        "stevepm/http_response.rb", "author_name": "stevepm", "thumbnail_width": 140,
        "html": "<script src=\"https://gist.github.com/stevepm/4562475bd1f4d57e7f9f.js\"></script>",
        "author_url": "http://github.com/stevepm", "version": "1.0", "provider_name":
        "GitHub", "thumbnail_url": "https://avatars3.githubusercontent.com/u/431557?s=140",
        "type": "rich", "thumbnail_height": 140}]'
  recorded_at: Tue, 03 Jun 2014 21:18:48 GMT
recorded_with: VCR 2.9.0
