<% if logged_in? %>
  <% if !(current_user.voted_up_on? gem) %>
    <% path = like_gem_path(gem.id, current_user.id) %>
    <% button = 'btn-default' %>
  <% else %>
    <% path = unlike_gem_path(gem.id, current_user.id) %>
    <% button = 'btn-warning' %>
  <% end %>
  <%= link_to path, method: :post, class: "btn #{button} btn-sm active", id: "heart_#{gem.name}" do %>
    <span class="glyphicon glyphicon-star"></span>
    <input type="hidden" value="<%= gem.id %>" name="popular_gem_id">
    <input type="hidden" value="<%= current_user.id %>" name="user_id">
  <% end %>
<% end %>