<div class="row">
  <div class="panel panel-default" id="<%= gem_id %>">
    <div class="panel-heading">
      <h2 class="panel-title">
        <strong><%= title %></strong>
      </h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-striped well">
        <tbody>
        <% gems.each do |gem| %>
          <tr>
            <td>
              <%= link_to "#{gem.name}", gem %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>