---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/meta-tags.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f0c0f0ab0cc12ec226772966e6a3581d"'
    body:
      encoding: UTF-8
      string: '{"name":"meta-tags","downloads":158749,"version":"2.0.0","version_downloads":8526,"platform":"ruby","authors":"Dmytro
        Shteflyuk","info":"Search Engine Optimization (SEO) plugin for Ruby on Rails
        applications.","licenses":[],"project_uri":"http://rubygems.org/gems/meta-tags","gem_uri":"http://rubygems.org/gems/meta-tags-2.0.0.gem","homepage_uri":"http://github.com/kpumuk/meta-tags","wiki_uri":"","documentation_uri":"http://rdoc.info/projects/kpumuk/meta-tags","mailing_list_uri":"","source_code_uri":"http://github.com/kpumuk/meta-tags","bug_tracker_uri":"http://github.com/kpumuk/meta-tags/issues","dependencies":{"development":[{"name":"bluecloth","requirements":">=
        0"},{"name":"rake","requirements":">= 0"},{"name":"rspec","requirements":">=
        0"},{"name":"yard","requirements":">= 0"}],"runtime":[{"name":"actionpack","requirements":">=
        3.0.0"}]}}'
  recorded_at: Sun, 22 Jun 2014 00:11:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/kpumuk/meta-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1403398626'
      Last-Modified:
      - Sat, 21 Jun 2014 17:50:26 GMT
      Etag:
      - '"87331223276b98b94d4a775ae43e9d46"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"id":53374,"name":"meta-tags","full_name":"kpumuk/meta-tags","owner":{"login":"kpumuk","id":10163,"avatar_url":"https://avatars.githubusercontent.com/u/10163?","gravatar_id":"7fd8114f07629abb06a0cd7b3a2b979a","url":"https://api.github.com/users/kpumuk","html_url":"https://github.com/kpumuk","followers_url":"https://api.github.com/users/kpumuk/followers","following_url":"https://api.github.com/users/kpumuk/following{/other_user}","gists_url":"https://api.github.com/users/kpumuk/gists{/gist_id}","starred_url":"https://api.github.com/users/kpumuk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kpumuk/subscriptions","organizations_url":"https://api.github.com/users/kpumuk/orgs","repos_url":"https://api.github.com/users/kpumuk/repos","events_url":"https://api.github.com/users/kpumuk/events{/privacy}","received_events_url":"https://api.github.com/users/kpumuk/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/kpumuk/meta-tags","description":"Search
        Engine Optimization (SEO) plugin for Ruby on Rails applications.","fork":false,"url":"https://api.github.com/repos/kpumuk/meta-tags","forks_url":"https://api.github.com/repos/kpumuk/meta-tags/forks","keys_url":"https://api.github.com/repos/kpumuk/meta-tags/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kpumuk/meta-tags/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kpumuk/meta-tags/teams","hooks_url":"https://api.github.com/repos/kpumuk/meta-tags/hooks","issue_events_url":"https://api.github.com/repos/kpumuk/meta-tags/issues/events{/number}","events_url":"https://api.github.com/repos/kpumuk/meta-tags/events","assignees_url":"https://api.github.com/repos/kpumuk/meta-tags/assignees{/user}","branches_url":"https://api.github.com/repos/kpumuk/meta-tags/branches{/branch}","tags_url":"https://api.github.com/repos/kpumuk/meta-tags/tags","blobs_url":"https://api.github.com/repos/kpumuk/meta-tags/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kpumuk/meta-tags/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kpumuk/meta-tags/git/refs{/sha}","trees_url":"https://api.github.com/repos/kpumuk/meta-tags/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kpumuk/meta-tags/statuses/{sha}","languages_url":"https://api.github.com/repos/kpumuk/meta-tags/languages","stargazers_url":"https://api.github.com/repos/kpumuk/meta-tags/stargazers","contributors_url":"https://api.github.com/repos/kpumuk/meta-tags/contributors","subscribers_url":"https://api.github.com/repos/kpumuk/meta-tags/subscribers","subscription_url":"https://api.github.com/repos/kpumuk/meta-tags/subscription","commits_url":"https://api.github.com/repos/kpumuk/meta-tags/commits{/sha}","git_commits_url":"https://api.github.com/repos/kpumuk/meta-tags/git/commits{/sha}","comments_url":"https://api.github.com/repos/kpumuk/meta-tags/comments{/number}","issue_comment_url":"https://api.github.com/repos/kpumuk/meta-tags/issues/comments/{number}","contents_url":"https://api.github.com/repos/kpumuk/meta-tags/contents/{+path}","compare_url":"https://api.github.com/repos/kpumuk/meta-tags/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kpumuk/meta-tags/merges","archive_url":"https://api.github.com/repos/kpumuk/meta-tags/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kpumuk/meta-tags/downloads","issues_url":"https://api.github.com/repos/kpumuk/meta-tags/issues{/number}","pulls_url":"https://api.github.com/repos/kpumuk/meta-tags/pulls{/number}","milestones_url":"https://api.github.com/repos/kpumuk/meta-tags/milestones{/number}","notifications_url":"https://api.github.com/repos/kpumuk/meta-tags/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kpumuk/meta-tags/labels{/name}","releases_url":"https://api.github.com/repos/kpumuk/meta-tags/releases{/id}","created_at":"2008-09-17T01:41:59Z","updated_at":"2014-06-21T17:50:26Z","pushed_at":"2014-04-15T15:08:43Z","git_url":"git://github.com/kpumuk/meta-tags.git","ssh_url":"git@github.com:kpumuk/meta-tags.git","clone_url":"https://github.com/kpumuk/meta-tags.git","svn_url":"https://github.com/kpumuk/meta-tags","homepage":"","size":956,"stargazers_count":655,"watchers_count":655,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":94,"mirror_url":null,"open_issues_count":2,"forks":94,"open_issues":2,"watchers":655,"default_branch":"master","network_count":94,"subscribers_count":21}'
  recorded_at: Sun, 22 Jun 2014 00:11:58 GMT
- request:
    method: get
    uri: https://api.github.com/repos/awostenberg/faraday
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1403410986'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sun, 22 Jun 2014 03:30:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lostisland/faraday
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1403410986'
      Last-Modified:
      - Fri, 20 Jun 2014 02:27:37 GMT
      [...]
