---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faraday.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"ef881969129211cda2c0db19ce2df960"'
    body:
      encoding: UTF-8
      string: '{"name":"faraday","downloads":8723731,"version":"0.9.0","version_downloads":687333,"platform":"ruby","authors":"Rick
        Olson","info":"HTTP/REST API client library.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/faraday","gem_uri":"http://rubygems.org/gems/faraday-0.9.0.gem","homepage_uri":"https://github.com/lostisland/faraday","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.0"}],"runtime":[{"name":"multipart-post","requirements":"< 3, >= 1.2"}]}}'
  recorded_at: Wed, 21 May 2014 20:57:42 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"0f3f16a1ca560413612588ca309733ba"'
    body:
      encoding: UTF-8
      string: '{"name":"rails","downloads":35381857,"version":"4.1.1","version_downloads":109296,"platform[...]
