---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/faraday.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4f76473a73428f60ec9f52ccd36bec14"'
    body:
      encoding: UTF-8
      string: '{"name":"faraday","downloads":8743357,"version":"0.9.0","version_downloads":698138,"platform":"ruby","authors":"Rick
        Olson","info":"HTTP/REST API client library.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/faraday","gem_uri":"http://rubygems.org/gems/faraday-0.9.0.gem","homepage_uri":"https://github.com/lostisland/faraday","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.0"}],"runtime":[{"name":"multipart-post","requirements":"< 3, >= 1.2"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"53a3a4c825ee261e595fd42e10f1980d"'
    body:
      encoding: UTF-8
      string: '{"name":"rails","downloads":35423201,"version":"4.1.1","version_downloads":117842,"platform[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rake.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"332e8d35be03a84784cf42fb84a2119d"'
    body:
      encoding: UTF-8
      string: '{"name":"rake","downloads":48536466,"version":"10.3.2","version_downloads":196715,"platform"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thor.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"e6301896b25100a2a72eaee8bbb936f6"'
    body:
      encoding: UTF-8
      string: '{"name":"thor","downloads":43187146,"version":"0.19.1","version_downloads":1505322,"platform":"ruby","authors":"Yehuda
        Katz, Jos\u00e9 Valim","info":"Thor is a toolkit for building powerful command-line
        interfaces.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/thor","gem_uri":"http://rubygems.org/gems/thor-0.19.1.gem","homepage_uri":"http://whatisthor.com/","wiki_uri":"https://github.com/wycats/thor/wiki","documentation_uri":"http://rdoc.info/github/wycats/thor","mailing_list_uri":"","source_code_uri":"https://github.com/wycats/thor","bug_tracker_uri":"https://github.com/wycats/thor/issues","dependencies":{"development":[{"name":"bundler","requirements":"~>
        1.0"}],"runtime":[]}}'
  recorded_at: Thu, 22 May 2014 20:47:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"70a8ecd36e94e4518e09afc87551159e"'
    body:
      encoding: UTF-8
      string: '{"name":"activesupport","downloads":40960821,"version":"4.1.1","version_downloads":176475,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit of support libraries and Ruby core extensions
        extracted from the Rails framework. Rich support for multibyte strings, internationalization,
        time zones, and testing.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/activesupport","gem_uri":"http://rubygems.org/gems/activesupport-4.1.1.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"i18n","requirements":">=
        0.6.9, ~> 0.6"},{"name":"json","requirements":">= 1.7.7, ~> 1.7"},{"name":"minitest","requirements":"~>
        5.1"},{"name":"thread_safe","requirements":"~> 0.1"},{"name":"tzinfo","requirements":"~>
        1.1"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c8cfd894ca39251e06091875fc5fa1b3"'
    body:
      encoding: UTF-8
      string: '{"name":"activerecord","downloads":32528916,"version":"4.1.1","version_downloads":128916,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Databases on Rails. Build a persistent domain
        model by mapping database tables to Ruby classes. Strong conventions for associations,
        validations, aggregations, migrations, and testing come baked-in.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/activerecord","gem_uri":"http://rubygems.org/gems/activerecord-4.1.1.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"activemodel","requirements":"=
        4.1.1"},{"name":"activesupport","requirements":"= 4.1.1"},{"name":"arel","requirements":"~>
        5.0.0"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/actionpack.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3e65fdca79d204912122a002be044e24"'
    body:
      encoding: UTF-8
      string: '{"name":"actionpack","downloads":31571779,"version":"4.1.1","version_downloads":123573,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Web apps on Rails. Simple, battle-tested conventions
        for building and testing MVC web applications. Works with any Rack-compatible
        server.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/actionpack","gem_uri":"http://rubygems.org/gems/actionpack-4.1.1.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"activemodel","requirements":"=
        4.1.1"}],"runtime":[{"name":"actionview","requirements":"= 4.1.1"},{"name":"activesupport","requirements":"=
        4.1.1"},{"name":"rack","requirements":"~> 1.5.2"},{"name":"rack-test","requirements":"~>
        0.6.2"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/actionmailer.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"26e423938ee572e2d983ccfe36b1fadf"'
    body:
      encoding: UTF-8
      string: '{"name":"actionmailer","downloads":30611473,"version":"4.1.1","version_downloads":118761,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Email on Rails. Compose, deliver, receive, and
        test emails using the familiar controller/view pattern. First-class support
        for multipart email and attachments.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/actionmailer","gem_uri":"http://rubygems.org/gems/actionmailer-4.1.1.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actionpack","requirements":"=
        4.1.1"},{"name":"actionview","requirements":"= 4.1.1"},{"name":"mail","requirements":"~>
        2.5.4"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"2f0a39966a1820cf36e4afdf3134b79e"'
    body:
      encoding: UTF-8
      string: '{"name":"activemodel","downloads":29376251,"version":"4.1.1","version_downloads":142101,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit for building modeling frameworks like
        Active Record. Rich support for attributes, callbacks, validations, serialization,
        internationalization, and testing.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/activemodel","gem_uri":"http://rubygems.org/gems/activemodel-4.1.1.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"activesupport","requirements":"=
        4.1.1"},{"name":"builder","requirements":"~> 3.1"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activeresource.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"5a9f116cb6e48d273687e2c4fe876beb"'
    body:
      encoding: UTF-8
      string: '{"name":"activeresource","downloads":26624308,"version":"4.0.0","version_downloads":153972,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"REST on Rails. Wrap your RESTful web app with
        Ruby classes and work with them like Active Record models.","licenses":["MIT"],"project_uri":"http://rubygems.org/gems/activeresource","gem_uri":"http://rubygems.org/gems/activeresource-4.0.0.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"mocha","requirements":">=
        0.13.0"},{"name":"rake","requirements":">= 0"}],"runtime":[{"name":"activemodel","requirements":"~>
        4.0"},{"name":"activesupport","requirements":"~> 4.0"},{"name":"rails-observers","requirements":"~>
        0.1.1"}]}}'
  recorded_at: Thu, 22 May 2014 20:47:04 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/addressable.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f9842c59bd246f1244ba295a626924d2"'
    body:
      encoding: UTF-8
      string: '{"name":"addressable","downloads":14191114,"version":"2.3.6","version_downloads":655978,"platform":"ruby","authors":"Bob
        Aman","info":"Addressable is a replacement for the URI implementation that
        is part of\nRuby''s standard library. It more closely conforms to the relevant
        RFCs and\nadds support for IRIs and URI templates.\n","licenses":["Apache
        License 2.0"],"project_uri":"http://rubygems.org/gems/addressable","gem_uri":"http://rubygems.org/gems/addressable-2.3.6.gem","homepage_uri":"http://addressable.rubyforge.org/","wiki_uri":"http://wiki.github.com/sporkmonger/addressable/","documentation_uri":"http://rubydoc.info/gems/addressable","mailing_list_uri":"","source_code_uri":"http://github.com/sporkmonger/addressable","bug_tracker_uri":"http://github.com/sporkmonger/addressable/issues","dependencies":{"development":[{"name":"launchy","requirements":">=
        0.3.2"},{"name":"rake","requirements":">= 0.7.3"},{"name":"rspec","requirements":">=
        2.9.0"}],"runtime":[]}}'
  recorded_at: Thu, 22 May 2014 20:47:04 GMT
recorded_with: VCR 2.9.0
