<div class="page-header blockquote-reverse col-md-11">
  <h1><span class="label label-info"><strong>discover new ruby gems</strong></span></h1>
</div>

<div class="">
  <%= render(partial: 'gem_table', locals: {
    gem_id: 'recently_updated_gems',
    path_for_gems: nil,
    gems: @recently_updated_gems,
    view_more: false,
    title: 'Recently updated gems',
    use_pagination: true})
  %>
</div>