<div class="page-header blockquote-reverse col-md-11">
  <h1><span class="label label-info"><strong>a discovery engine for ruby gems</strong></span></h1>
</div>

<div class="">
  <%= render(partial: 'gem_table', locals: {
    gem_id: 'featured_gems',
    path_for_gems: nil,
    gems: @featured_gems,
    view_more: false,
    title: 'Featured gems of the week',
    use_pagination: false})
  %>
</div>