<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <table class="table table-striped table-bordered table-hover well">
        <thead>
        <tr>
          <th>Users that like <%= @gem.name %></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><strong><%= link_to user.name, user %></strong></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>